<header>
  <h1>{{title}}</h1>
</header>
<main>
  <markdown-content src={{yield}}></markdown-content>
</main>
<footer>
  <p>
    Posted in
    <span class="category">{{category}}</span>
    on
    <time datetime="{{dateTime}}">{{date}}</time>.
  </p>
</footer>
