<header>
  <h1>{{link-to title 'article' year month day href}}</h1>
</header>
<main>
  {{html}}
</main>
<footer>
  <p>
    Posted in
    <span class="category">{{category}}</span>
    <time datetime="{{date}}">{{postedAt}}</time>.
  </p>
</footer>
