<header class="row">
  <div id="logo" class="large-1 columns">
    {{#link-to 'index'}}
      <div id="circle">
        <p>TS</p>
      </div>
    {{/link-to}}
  </div>
  <div id="title" class="large-3 columns">
    <h1>{{link-to 'psychedeli.ca' 'index'}}</h1>
  </div>
  <div id="spacer" class="large-4 columns"></div>
  <div id="navigation" class="large-4 columns">
    <nav>
      {{link-to 'home' 'index'}}
      {{link-to 'about' 'page' 'about'}}
      {{link-to 'code' 'page' 'code'}}
    </nav>
  </div>
</header>

<main class="row" {{bindAttr id=currentPath}}>
  {{outlet}}
</main>

<footer class="row">
  <p id="last-updated">Last updated just now.</p>
</footer>
