<article {{bind-attr id=id}}>
  <div class="large-12 columns">
    <header>
      <h1>
        {{link-to title 'article' year month day href}}
      </h1>
    </header>

    <main>
      {{body}}
    </main>

    <footer>
      <p class="large-6 columns">
        Posted <span class="date">{{formattedDate}}</span> in <span class="category">{{category}}</span>.
      </p>
      <p class="large-4 columns">&nbsp;</p>
      <p id="more-link" class="large-2 columns">
        <a class="tiny round secondary button" {{bind-attr href=permalink}}>
          more &raquo;
        </a>
      </p>
    </footer>
  </div>
</article>
